<section class="hero">
    <picture>
        <img src="https://picsum.photos/id/129/1300/630" alt="">
    </picture>
    <div class="container">
        <h2>VIAJAMOS PARA VER LA BELLEZA DE LAS ALMAS EN LOS NUEVOS PAISAJES</h2>
       
    </div>
</section>